/**
 * Basic page
 */

/**
 * 1. Fonts on OSX will look more consistent with other systems that do not
 *    render text using sub-pixel anti-aliasing.
 */
html {
  background-color: $base-background-color;

  font-family: $base-font-family;
  font-size: $base-font-size;
  -moz-osx-font-smoothing: grayscale; /* [1] */
  -webkit-font-smoothing: antialiased; /* [1] */
  font-weight: $base-font-weight;
  line-height: $base-line-height;

  padding: $base-spacing-unit;
}
