$base-background-color: #eee;

$base-font-size: 3vw;
$base-line-height: 1.5;
$base-font-family: "skolar", serif;
$base-font-weight: light;

$heading-font-family: "kinesis-pro-3", sans-serif;
$heading-size-1: $base-font-size*3;
$heading-size-2: $base-font-size*2;
$heading-size-3: $base-font-size*1.6;
$heading-size-4: $base-font-size*1.2;
$heading-size-5: $base-font-size;
$heading-size-6: $base-font-size*.8;

$base-spacing-unit: 1em;
$columns: 2;
